# (EX) News article processing (with ML pipeline)

# `agnews` Dataset

In [1]:
!curl https://raw.githubusercontent.com/mosesyhc/de300-2025sp-class/refs/heads/main/agnews.csv -O

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
 67 29.3M   67 19.6M    0     0  27.0M      0  0:00:01 --:--:--  0:00:01 27.1M
100 29.3M  100 29.3M    0     0  20.9M      0  0:00:01  0:00:01 --:--:-- 21.0M

# Pipelining with PySpark MLlib

In [2]:
from pyspark.sql import SparkSession
from pyspark.ml import Pipeline # pipeline to transform data

In [3]:
spark = (SparkSession.builder
         .master("local[*]")
         .appName("AG news")
         .getOrCreate()
        )
sc = spark.sparkContext

In [4]:
# load dataset
df = spark.read.csv("agnews.csv", inferSchema=True, header=True)
df.show(5)

+-----------+--------------------+--------------------+
|Class Index|               Title|         Description|
+-----------+--------------------+--------------------+
|          3|Wall St. Bears Cl...|Reuters - Short-s...|
|          3|Carlyle Looks Tow...|Reuters - Private...|
|          3|Oil and Economy C...|Reuters - Soaring...|
|          3|Iraq Halts Oil Ex...|Reuters - Authori...|
|          3|Oil prices soar t...|AFP - Tearaway wo...|
+-----------+--------------------+--------------------+
only showing top 5 rows

# Arrange columns

In [5]:
from pyspark.sql.functions import concat_ws, col # to concatinate cols

# renaming 'Class Index' col to 'label'
df = df.withColumnRenamed('Class Index', 'label')

# add a column with concatenated text called 'text
df = df.withColumn('text', concat_ws(' ', col('Title'), col('Description')))

# concatenating texts
# df = df.select('label', 'text')

df.show(10)

+-----+--------------------+--------------------+--------------------+
|label|               Title|         Description|                text|
+-----+--------------------+--------------------+--------------------+
|    3|Wall St. Bears Cl...|Reuters - Short-s...|Wall St. Bears Cl...|
|    3|Carlyle Looks Tow...|Reuters - Private...|Carlyle Looks Tow...|
|    3|Oil and Economy C...|Reuters - Soaring...|Oil and Economy C...|
|    3|Iraq Halts Oil Ex...|Reuters - Authori...|Iraq Halts Oil Ex...|
|    3|Oil prices soar t...|AFP - Tearaway wo...|Oil prices soar t...|
|    3|Stocks End Up, Bu...|Reuters - Stocks ...|Stocks End Up, Bu...|
|    3|Money Funds Fell ...|AP - Assets of th...|Money Funds Fell ...|
|    3|Fed minutes show ...|USATODAY.com - Re...|Fed minutes show ...|
|    3|Safety Net (Forbe...|"Forbes.com - Aft...|Safety Net (Forbe...|
|    3|Wall St. Bears Cl...| NEW YORK (Reuter...|Wall St. Bears Cl...|
+-----+--------------------+--------------------+--------------------+
only showing top 10 rows

# Tokenize

In [6]:
from pyspark.ml.feature import RegexTokenizer # tokenizer

# convert sentences to list of words
tokenizer = RegexTokenizer(inputCol='text', outputCol='words', pattern='\\W')

# applies tokenizer
df = tokenizer.transform(df)

df.show(5)

+-----+--------------------+--------------------+--------------------+--------------------+
|label|               Title|         Description|                text|               words|
+-----+--------------------+--------------------+--------------------+--------------------+
|    3|Wall St. Bears Cl...|Reuters - Short-s...|Wall St. Bears Cl...|[wall, st, bears,...|
|    3|Carlyle Looks Tow...|Reuters - Private...|Carlyle Looks Tow...|[carlyle, looks, ...|
|    3|Oil and Economy C...|Reuters - Soaring...|Oil and Economy C...|[oil, and, econom...|
|    3|Iraq Halts Oil Ex...|Reuters - Authori...|Iraq Halts Oil Ex...|[iraq, halts, oil...|
|    3|Oil prices soar t...|AFP - Tearaway wo...|Oil prices soar t...|[oil, prices, soa...|
+-----+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

# Stopwords

In [7]:
from pyspark.ml.feature import StopWordsRemover

# remove stopwords
stopwords_remover = StopWordsRemover(inputCol='words', outputCol='filtered')

df = stopwords_remover.transform(df)

df.show(5)

+-----+--------------------+--------------------+--------------------+--------------------+--------------------+
|label|               Title|         Description|                text|               words|            filtered|
+-----+--------------------+--------------------+--------------------+--------------------+--------------------+
|    3|Wall St. Bears Cl...|Reuters - Short-s...|Wall St. Bears Cl...|[wall, st, bears,...|[wall, st, bears,...|
|    3|Carlyle Looks Tow...|Reuters - Private...|Carlyle Looks Tow...|[carlyle, looks, ...|[carlyle, looks, ...|
|    3|Oil and Economy C...|Reuters - Soaring...|Oil and Economy C...|[oil, and, econom...|[oil, economy, cl...|
|    3|Iraq Halts Oil Ex...|Reuters - Authori...|Iraq Halts Oil Ex...|[iraq, halts, oil...|[iraq, halts, oil...|
|    3|Oil prices soar t...|AFP - Tearaway wo...|Oil prices soar t...|[oil, prices, soa...|[oil, prices, soa...|
+-----+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

# Term frequency, Inverse document frequency

In [8]:
from pyspark.ml.feature import HashingTF

# calculate term frequency in each article (row)
hashing_tf = HashingTF(inputCol='filtered', outputCol='raw_features', numFeatures=16384)  

# 16384 --> in BERT we represent one item with 780 features
# compressing text into 780 numbers
# within all possible words kept, only 16384 words are kept
# 2^14 === 16384

# applie term frequency
featured_data = hashing_tf.transform(df)

featured_data.show(5)

+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|label|               Title|         Description|                text|               words|            filtered|        raw_features|
+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|    3|Wall St. Bears Cl...|Reuters - Short-s...|Wall St. Bears Cl...|[wall, st, bears,...|[wall, st, bears,...|(16384,[906,1198,...|
|    3|Carlyle Looks Tow...|Reuters - Private...|Carlyle Looks Tow...|[carlyle, looks, ...|[carlyle, looks, ...|(16384,[98,156,14...|
|    3|Oil and Economy C...|Reuters - Soaring...|Oil and Economy C...|[oil, and, econom...|[oil, economy, cl...|(16384,[338,1612,...|
|    3|Iraq Halts Oil Ex...|Reuters - Authori...|Iraq Halts Oil Ex...|[iraq, halts, oil...|[iraq, halts, oil...|(16384,[180,2731,...|
|    3|Oil prices soar t...|AFP - Tearaway wo...|Oil prices soar t...|[oil, prices, soa...|[oil, prices, soa...|(16384,[1546,1752...|
+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [9]:
from pyspark.ml.feature import IDF

# inverse document frequency
idf = IDF(inputCol='raw_features', outputCol='features')

# applies IDF
idf_vectorizer = idf.fit(featured_data)

rescaled_data = idf_vectorizer.transform(featured_data)

rescaled_data.show(5)

+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|label|               Title|         Description|                text|               words|            filtered|        raw_features|            features|
+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|    3|Wall St. Bears Cl...|Reuters - Short-s...|Wall St. Bears Cl...|[wall, st, bears,...|[wall, st, bears,...|(16384,[906,1198,...|(16384,[906,1198,...|
|    3|Carlyle Looks Tow...|Reuters - Private...|Carlyle Looks Tow...|[carlyle, looks, ...|[carlyle, looks, ...|(16384,[98,156,14...|(16384,[98,156,14...|
|    3|Oil and Economy C...|Reuters - Soaring...|Oil and Economy C...|[oil, and, econom...|[oil, economy, cl...|(16384,[338,1612,...|(16384,[338,1612,...|
|    3|Iraq Halts Oil Ex...|Reuters - Authori...|Iraq Halts Oil Ex...|[iraq, halts, oil...|[iraq, halts, oil...|(16384,[180,2731,...|(16384,[180,2731,...|
|    3|Oil prices soar t...|AFP - Tearaway wo...|Oil prices soar t...|[oil, prices, soa...|[oil, prices, soa...|(16384,[1546,1752...|(16384,[1546,1752...|
+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [10]:
rescaled_data.select('raw_features').show(2, truncate=False)
rescaled_data.select('features').show(2, truncate=False)

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|raw_features                                                                                                                                                                                                                                  |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|(16384,[906,1198,4756,5540,5638,5831,6235,7372,8905,11170,11790,12343,12766,13441,14118,16126],[1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0])                                                                             |
|(16384,[98,156,1445,1913,2309,2586,2614,2615,3244,4198,4510,5278,6187,6701,7622,8145,8346,8804,9604,9990,10122,10300,11170,14429,14587],[1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0])|
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 2 rows
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|features                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|(16384,[906,1198,4756,5540,5638,5831,6235,7372,8905,11170,11790,12343,12766,13441,14118,16126],[8.537787661984513,3.397294380630043,4.39465293559298,9.153187225099833,6.786850187276713,7.767679440288439,7.112272587711341,5.227244648590488,6.052881012196512,4.445293364402747,7.314012230362397,4.99740821618902,4.572792771790261,7.056183121060297,6.158241527854338,4.98702151000021])                                                                                                                                                                                                                 |
|(16384,[98,156,1445,1913,2309,2586,2614,2615,3244,4198,4510,5278,6187,6701,7622,8145,8346,8804,9604,9990,10122,10300,11170,14429,14587],[4.034428742143106,6.912476400394122,15.358252085893987,6.530916813139512,4.466370604406117,5.120716931166067,6.104174306584063,4.717879945464172,5.560219359058193,6.766230900073976,8.578609656504767,4.07141987887688,5.96670331595546,4.578881070657516,3.9018943033535805,3.6140183009099185,4.936647122178583,4.324179678935594,6.851388708414284,3.3098927597330214,7.662318924630612,5.192807960320586,4.445293364402747,4.758153844602112,3.8660809521961768])|
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 2 rows

# Training a multinomial logistic regression

In [11]:
# split data into training and testing
(train, test) = rescaled_data.randomSplit([0.75, 0.25])
print("Training Dataset Count: " + str(train.count()))
print("Test Dataset Count: " + str(test.count()))

Training Dataset Count: 95350
Test Dataset Count: 32250

In [12]:
from pyspark.ml.classification import LogisticRegression

lr = LogisticRegression(featuresCol='features',
                        labelCol='label',
                        family='multinomial',
                        regParam=0.3,
                        elasticNetParam=0,
                        maxIter=20)

lrModel = lr.fit(train)

# Prediction and evaluation

In [13]:
# predict on test data
predictions = lrModel.transform(test)

In [14]:
predictions.show(3)

+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|label|               Title|         Description|                text|               words|            filtered|        raw_features|            features|       rawPrediction|         probability|prediction|
+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|    1| #39;Jackal aide ...|BERLIN, Germany -...| #39;Jackal aide ...|[39, jackal, aide...|[39, jackal, aide...|(16384,[18,823,22...|(16384,[18,823,22...|[-8.0634847100085...|[7.22834410499659...|       1.0|
|    1| #39;Something Ha...|Flight recorders ...| #39;Something Ha...|[39, something, h...|[39, something, h...|(16384,[1009,3614...|(16384,[1009,3614...|[-8.0634816535211...|[9.01366555796131...|       1.0|
|    1|"""Phir Milenge""...|Reuters - In a mo...|"""Phir Milenge""...|[phir, milenge, t...|[phir, milenge, t...|(16384,[46,907,22...|(16384,[46,907,22...|[-8.0635024524165...|[6.01471410827280...|       1.0|
+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 3 rows

In [15]:
predictions.select("text", "rawPrediction", "probability").show(truncate=False)

+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------+
|text                                                                                                                                                                                                                                                                                                                                                       |rawPrediction                                                                                   |probability                                                                                              |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------+
| #39;Jackal aide #39; in case 2 acquittal BERLIN, Germany -- A German court has acquitted Johannes Weinrich, said to be the right-hand man of international guerrilla  quot;Carlos the Jackal, quot; of charges that he took part in a deadly series of bombings in France in the early 1980s.                                                             |[-8.063484710008504,3.3616380615613988,1.6491691777771633,1.7862819591262629,1.2663955115436756]|[7.2283441049965925E-6,0.6620740921864285,0.11945127977623214,0.13700554082259916,0.08146185887063527]   |
| #39;Something Happened Fast #39; in Crashes Flight recorders from two planes that crashed just three minutes apart Tuesday night are providing few clues to investigators but indicate  quot;something happened very fast, quot; a Kremlin representative said Thursday.                                                                                  |[-8.06348165352114,2.8385477441177307,2.132189201817305,1.4906686120336026,1.6020760955524993]  |[9.013665557961315E-6,0.4893196415960618,0.24144878915673415,0.12712067188344878,0.14210188369819723]    |
|"""Phir Milenge"" tackles HIV stigma in India (Reuters)" Reuters - In a movie-mad country where people are shy about discussing sex, a Bollywood film-maker hopes to shed some light on India's potentially disastrous HIV problem.                                                                                                                        |[-8.063502452416584,3.6650507881094363,1.166938222679244,1.5757763006298693,1.655737140998031]  |[6.014714108272806E-6,0.7462097896539271,0.06136834905954121,0.0923635382018896,0.10005230837053372]     |
|"Bush shuns Hollywood, opts for ""wholesome"" country acts at convention (AFP)" AFP - US President George W. Bush goes into the Republican convention next week mocking Democrat John Kerry's glamorous Hollywood support base and pitching instead to America's rural heartland.                                                                          |[-8.063487896950281,4.200564662896032,0.1946167806521515,2.1851142004573942,1.4831922529447006] |[3.8753727449155744E-6,0.8213416249768936,0.01495418582640725,0.10945228149502748,0.05424803232892698]   |
|'All Aboard' France's Artouste Express, France's highest-altitude train (AFP) AFP - Eighty years ago the Artouste train in the French Pyrenees transported workers and materiel to build a dam at 2000 meters (6500 feet) altitude, but today it ferries tourists for a sometimes hair-raising ride along one of Europe's highest rail lines.              |[-8.063504408012491,2.9033681201438224,0.8408547889177929,1.813338071345412,2.5059434276054593] |[8.084762545767807E-6,0.46829496854475167,0.05953623035808722,0.15744376127769666,0.31471695505691877]   |
|'Final Call' for Rebel Iraqi Cleric Shiite Muslim cleric Moqtada Sadr rejected one of the government's two key demands, increasing the prospect of an intensified military attack against his militia.                                                                                                                                                     |[-8.063434475948123,4.325100892748783,1.0157321051134987,1.4570457098632539,1.265555768222585]  |[3.653616019938878E-6,0.8769916377758834,0.03204459959067879,0.049821283607610435,0.04113882540980727]   |
|'Mercenaries' avoid deportation Seventy men held in Zimbabwe accused of plotting a coup in Equatorial Guinea will not be extradited.                                                                                                                                                                                                                       |[-8.063489321677247,4.1657750109763905,1.3195509011655777,1.2967121548103129,1.2814512547249641]|[4.172992992843504E-6,0.8541805395869225,0.04959641070547578,0.048476527898853254,0.04774234881575572]   |
|'Mercenaries' coup trial begins The trial of 14 men accused of plotting to topple Equatorial Guinea's president opens in Malabo on Monday.                                                                                                                                                                                                                 |[-8.063483886789507,3.582597818744743,1.6982261108217072,1.3718533042373613,1.4108066529856944] |[6.363591955783753E-6,0.7269948673024416,0.1104483189210218,0.0796924541299776,0.08285799605460331]      |
|'Mercenary leader' found guilty Former British SAS officer Simon Mann is convicted of attempting to buy arms for an alleged Equatorial Guinea coup plot.                                                                                                                                                                                                   |[-8.063486942102426,3.222994148223321,1.3455730495927423,1.7354922986709238,1.7594274456154362] |[7.787988360901914E-6,0.6209859173872746,0.09500098934750607,0.14030330658732387,0.14370199868953462]    |
|'On Death and Dying' Author Dies at 78 "PHOENIX - Elisabeth Kubler-Ross, a psychiatrist who revolutionized the way the world looks at terminally ill patients with her book ""On Death and Dying"" and later as a pioneer for hospice care                                                                                                                 |[-8.063510382300676,2.3741359403570095,1.7282302600061663,1.9459504060754602,2.015193775862036] |[1.0196529033482112E-5,0.3479081176665308,0.18236911449349702,0.22672841260047252,0.24298415871046627]   |
|'Tax super-rich at 50' proposal Hit the super-rich with a 50 inheritance tax and allow cuts for the middle class, says a leading think tank.                                                                                                                                                                                                               |[-8.063491215395436,1.8144841976937927,1.6219203047052557,2.718092059770953,1.908994653225433]  |[9.511720927792521E-6,0.1854425172745232,0.152960705424306,0.45776356453535216,0.20382370104489078]      |
|* Hopes rise for end to bloody conflict Grand Ayatollah Ali al-Sistani, the most senior Shia cleric in Iraq, unexpectedly returned to his homeland yesterday after nearly three weeks overseas during which anarchy has rapidly taken hold.                                                                                                                |[-8.063453229342933,3.73646643161693,1.6061776184055145,1.6917939206124575,1.0290152587080281]  |[5.7076085362671125E-6,0.7604911675648468,0.09034861471001397,0.09842471947076485,0.05072979064583788]   |
|12 Nepalese Reportedly Executed in Iraq A video purporting to show the killings of Nepalese kidnapped in Iraq was posted on a Web site linked to militants.                                                                                                                                                                                                |[-8.063462523589475,3.7983020798271845,0.8722102834359886,1.4526519721234425,1.9402981882028585]|[5.404599796610833E-6,0.7660594131594778,0.041065482763830874,0.07337693299827333,0.11949276647862131]   |
|12 Nepalese Reportedly Executed in Iraq DUBAI, United Arab Emirates - A Web site linked to an Iraqi militant group showed a video of what is purported to be the killing of 12 Nepalese workers by militants who had kidnapped them.    The Nepalese Foreign Ministry said it could not confirm the report of the hostages' deaths...                      |[-8.063432568429105,5.189715089803657,0.5931444124020924,1.115113285821237,1.1654597804021165]  |[1.679306016663719E-6,0.956970917738613,0.009652358837520065,0.016267531650630464,0.017107512467219685]  |
|125,000 Without Power As Storm Slams S.C. MOUNT PLEASANT, S.C. - Tropical Storm Gaston sloshed ashore in South Carolina Sunday with near hurricane-force wind, spinning sheets of rain that flooded roads as the storm knocked out power to thousands of people...                                                                                         |[-8.063491356663366,4.106185649052149,1.0054416153402648,1.3187634420307732,1.6331006502401753] |[4.354036211255983E-6,0.8396834757908322,0.037798936699170255,0.05170749796156021,0.070805735512226]     |
|2 Kidnapped in Iraq, 2 Others Freed (AP) AP - Armed assailants attacked a convoy of Turkish trucks delivering supplies to U.S. forces in Iraq and took two Turkish drivers hostage, their company said Monday.                                                                                                                                             |[-8.063444079641796,4.386357001955084,0.9358553228063464,1.4276642351799587,1.3135675197004035] |[3.4679705442687436E-6,0.8850245351156583,0.028081575602102886,0.04592100332309026,0.040969417988604165] |
|2 More Turkish Men Taken Hostage in Iraq (AP) AP - Armed assailants attacked a convoy of Turkish trucks delivering supplies to U.S. forces in Iraq and took two Turkish drivers hostage, their company said Monday.                                                                                                                                        |[-8.063449237831428,4.432712251887331,1.0074504241377427,1.4150668257969494,1.2082197360094005] |[3.336481389228469E-6,0.8918723225230848,0.029022203019225992,0.04362705825586343,0.035475079720436495]  |
|2 Russian Jets Crash Within Minutes Officials made no immediate statements about the possible causes of the twin crashes but the timing raised suspicions of a terrorist attack.                                                                                                                                                                           |[-8.063481385634283,2.949164588800992,1.7053732211667556,1.8355502831849724,1.5733932924815606] |[8.822362690167973E-6,0.5349538108465072,0.1542213704456529,0.17566277443066114,0.1351532219144885]      |
|2 dead, 18 injured as powerful typhoon lashes southern Japan (Canadian Press) Canadian Press - TOKYO (AP) - A powerful typhoon lashed southern Japan on Monday, toppling trees and telephone poles with strong winds and torrential rains. Two elderly men died after being knocked down by strong winds, while 18 people were injured and one was missing.|[-8.063460402396787,4.637529862145604,1.2885365359304455,0.713582266871422,1.423811737449309]   |[2.7834229720558243E-6,0.9131648663192646,0.032070067374174345,0.018046808333071172,0.036715474550517824]|
|2 killed in car bomb explosion north of Baghdad Two people were killed and four others injured when a car bomb went off on Sunday near Baquba, 65 km north of Baghdad, police sources said.                                                                                                                                                                |[-8.06343539183653,4.227416655616862,1.502339733674718,1.0303951783565455,1.303283824188401]    |[3.959497543357856E-6,0.8619643415501673,0.05649414366056371,0.03524037440473768,0.0462971808869878]     |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [18]:
from pyspark.sql.functions import avg
from pyspark.sql.types import FloatType

# accuracy calculation
predictions = predictions.withColumn('correctFlag', (col('label') == col('prediction')))
predictions.select(avg(col('correctFlag').cast(FloatType()))).alias('accuracy').show()

+-------------------------------+
|avg(CAST(correctFlag AS FLOAT))|
+-------------------------------+
|             0.9022015503875969|
+-------------------------------+

In [19]:
from pyspark.mllib.evaluation import MulticlassMetrics
# labels = ["World", "Sports", "Business","Science"]

# take only the predictions
preds_and_labels = predictions.select(['prediction', 'label']) \
                              .withColumn('label', col('label') \
                              .cast(FloatType())) \
                              .orderBy('prediction')

preds_and_labels.show()

+----------+-----+
|prediction|label|
+----------+-----+
|       1.0|  1.0|
|       1.0|  1.0|
|       1.0|  1.0|
|       1.0|  1.0|
|       1.0|  1.0|
|       1.0|  1.0|
|       1.0|  1.0|
|       1.0|  1.0|
|       1.0|  1.0|
|       1.0|  1.0|
|       1.0|  1.0|
|       1.0|  1.0|
|       1.0|  1.0|
|       1.0|  1.0|
|       1.0|  1.0|
|       1.0|  1.0|
|       1.0|  1.0|
|       1.0|  1.0|
|       1.0|  1.0|
|       1.0|  1.0|
+----------+-----+
only showing top 20 rows

In [ ]:
# confusion matrix
metrics = MulticlassMetrics(preds_and_labels.rdd.map(tuple))

c:\0-Kathy Cui\0-Northwestern\0-Classes\3rd Year\Spring 2025\CS352\.conda\Lib\site-packages\pyspark\sql\context.py:157: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

# Pipelining, from start to finish

In [21]:
# load dataset
df = spark.read.csv("agnews.csv", inferSchema=True, header=True)

def arrangeColumns(df):
  # Renaming 'Class Index' col to 'label'
  df = df.withColumnRenamed('Class Index', 'label')

  # Add a new column 'text' by joining 'Title' and 'Description'
  df = df.withColumn("text", concat_ws(" ", "Title", 'Description'))

  # Select new text feature and labels
  df = df.select('label', 'text')
  return df

df = arrangeColumns(df)

# tokenizer
tokenizer = RegexTokenizer(inputCol="text", outputCol="words", pattern="\\W")

# stopwords
stopwords_remover = StopWordsRemover(inputCol="words", outputCol="filtered")

# term frequency
hashing_tf = HashingTF(inputCol="filtered",
                       outputCol="raw_features",
                       numFeatures=16384)

# Inverse Document Frequency
idf = IDF(inputCol="raw_features", outputCol="features")

# model
lr = LogisticRegression(featuresCol='features',
                        labelCol='label',
                        family="multinomial",
                        regParam=0.3,
                        elasticNetParam=0,
                        maxIter=20)

In [22]:
# Put everything in pipeline
pipeline = Pipeline(stages=[tokenizer,
                            stopwords_remover,
                            hashing_tf,
                            idf,
                            lr])

# Fit the pipeline to training documents.
pipelineFit = pipeline.fit(df)

# transform and train
dataset = pipelineFit.transform(df)

In [ ]:
dataset = dataset.withColumn('correctFlag', (col('label') == col('prediction')))